#root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

















  display: flex;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  min-height: 100vh;
}


#nav {
  display: block;
  position: fixed;
  text-align: left;
  width: 17rem;
  min-height: 100vh;
  padding: 10px;
  
  
  background-color: blue;
}

.open-nav {
  left: 0px;
  transition: left 1s;
}

.closed-nav {
  left: -293px !important;
  transition: left 1s;
}


.open-navBox {
  left: 0px;
  transition: left 1s;
}

.closed-navBox {
  left: -20px !important;
  transition: left 1s;
}

.open-home {
  margin-left: 17rem;
}

.closed-home {
  margin-left: 0rem !important;
}


.nav-list {
  
  position: relative;
  display: block;
  margin-top: 25px;
  
}

.nav-list-item {
  margin: 0;
}

/* #me, #projects, #links {
  margin-top: 25px;
} */


#home {
  width: 100vw;
  height: auto;
  margin-left: 17em;

  text-align: left;
  padding: 2em;
}

#hdsht {
  width: 155px;
}

#home-bar {
  display: flex;
  height: 25px;
  justify-content: left;
}.hb-item {
  margin-top: auto;
  margin-bottom: auto;
}
#home_icon {
  margin-right: 6px;
  width: 15px;
  height: 15px;
}

#nav-box {
  display: flex;
  position: fixed;
  left: 290px;
  top: 20px;

  opacity: 50%;
  width: 50px;
  height: 50px;
  justify-content: center;
  background-color: #ff5e5e;

}.nb-item {
  margin-top: auto;
  margin-bottom: auto;
}
#menu-icon {
  
  width: 30px;
  height: 30px;
}

.nav-shim-animation {
  animation: nav-shimmy 1.5s forwards;
  
}

@keyframes nav-shimmy {
  0% {
    transform: translate(0);    
  }
  50% {
    transform: translate(10px);
  }
  100% {
    transform: translate(-30px);
  }
}

@media not (min-width: 1024px) { 
  
  #nav {
  visibility: hidden;
  }

  #home {
    margin-left: 0rem;
  }


}



/* #logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
} */




/* .read-the-docs {
  color: #888;
} */