@font-face {
  font-family: "SCE-PS3 Rodin LATIN Regular";
  src: url("https://db.onlinewebfonts.com/t/3c9a33e9913448d684afff5b4b0cc59c.eot");
  src: url("https://db.onlinewebfonts.com/t/3c9a33e9913448d684afff5b4b0cc59c.eot?#iefix") format("embedded-opentype"),
       url("https://db.onlinewebfonts.com/t/3c9a33e9913448d684afff5b4b0cc59c.woff2") format("woff2"),
       url("https://db.onlinewebfonts.com/t/3c9a33e9913448d684afff5b4b0cc59c.woff") format("woff"),
       url("https://db.onlinewebfonts.com/t/3c9a33e9913448d684afff5b4b0cc59c.ttf") format("truetype"),
       url("https://db.onlinewebfonts.com/t/3c9a33e9913448d684afff5b4b0cc59c.svg#SCE-PS3 Rodin LATIN Regular") format("svg");
}










#root {
  font-family: "SCE-PS3 Rodin LATIN Regular", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  transition: text-shadow 0.3s ease;
  background-color: #111111;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

















  display: flex;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  min-height: 100vh;
}

#myName {
  cursor: default;
}


#nav {
  display: block;
  position: fixed;
  text-align: left;
  width: 17rem;
  min-height: 100vh;
  padding: 10px;
  
  
  background-color: #2d332d;
}




.open-nav {
  left: 0px;
  transition: left 0.5s;
}
.closed-nav {
  left: -293px !important;
  transition: left 0.5s;
}




.open-navBox {
  left: 0px;
  transition: left 0.8s;
}
.closed-navBox {
  left: -20px !important;
  transition: left 0.8s;
}




.open-navIcon {
  transform: rotate(0deg);
  transition: transform 0.5s ease;
}
.closed-navIcon {
  transform: rotate(180deg);
  transition: transform 0.5s ease;
}





.open-home {
  margin-left: 25em;
  transition: margin-left 0.5s;
}

.closed-home {
  margin-left: 0em !important;
  transition: margin-left 0.5s;
}


.nav-list {
  
  position: relative;
  display: block;
  margin-top: 25px;
  
}

.nav-list-item {
  margin: 0;
}

.nav-list-title {
  cursor: default;
  margin: 0;
}

.nav-list-item:hover, #nav-icon:hover, #home-bar:hover {
  cursor: pointer;
  text-shadow: 0 0 5px #ffffffc4, 0 0 10px #ffffffc4, 0 0 15px #ffffffc4;
}

/* #me, #projects, #links {
  margin-top: 25px;
} */


#home {
  width: 100vw;
  height: auto;
  margin-left: 20em;
  margin-left: 20em;

  text-align: left;
  
}

#hdsht {
  margin-top: 100px;
  width: auto;
  height: 140px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px;

}

#home-bar {
  display: flex;
  height: 25px;
  justify-content: left;
}.hb-item {
  margin-top: auto;
  margin-bottom: auto;
}
#home_icon {
  margin-right: 6px;
  width: 15px;
  height: 15px;
}

#nav-box {
  display: flex;
  position: fixed;
  left: 300px;
  top: 20px;

  border-radius: 12px;
  width: 50px;
  height: 50px;
  justify-content: center;
  background-color: #727272;
  cursor: pointer;

}
#nav-icon {
  
  width: 30px;
  height: 30px;

  margin-top: auto;
  margin-bottom: auto;
}






@media not (min-width: 1024px) { 
  
  #nav {
  visibility: hidden;
  }

  #home {
    margin-left: 0rem;
  }


}



#photoAndLinks {
  display: grid;
  justify-content: center;
  cursor: default;
  margin-bottom: 50px;
}

.home-text {
  
  max-width: 700px;
  margin: 0 auto;

}

#dotted-line {
  display: flex;
  border-bottom: 1px dashed;
  width: 70px;
  flex-shrink: 1;
  flex: 1 1 0%;
  align-self: center;
  height: 0; /* Prevents extra vertical space */
  /* margin: 10px 0;
  margin-left: auto;
  margin-right: auto; */
  border-top-width: 1px;
  --tw-border-opacity: 1;
        border-color: rgb(150 150 150 / var(--tw-border-opacity, 1));
}


.heading-icons {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.header-icon {
  width: 16px;
  height: 16px;
  margin-left: 4px;
  margin-right: 4px;
}

#icon-attr {
  position: fixed;
  font-size: 10px;
  bottom: 5px;
  right: 8px;
  color: #888;
}

/* CSS to fix into homeblock code */

/* @media not (min-width: 640px) { 
  
  #dotted-line {
    display: none !important;
  }

  .row-item {
    gap: 0.125rem;
  }

  .rowThing {
    flex-direction: column;
  }


}

.rowThing {
  display: flex;
  max-width: 700px;
  margin: 0 auto;
  
}

.row-item {
  margin: 0 10px;
} */